<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Kaput{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/semantic.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/js/lib/chosen/chosen.css" rel="stylesheet">
    <link href="/static/css/pace.css" rel="stylesheet">

    <script>var sessionData = {{ user|safe }};</script>
    <script data-main="/static/js/build/main-built" src="/static/js/lib/requirejs/require.js"></script>

    {% block style_block %}{# page-specific CSS #}{% endblock %}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}

  </head>
  
  <body>

    

    {% block content %}{# main content area #}{% endblock %}

  </body>

</html>
